<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.bit2pixel.chromecontrol</string>
	<key>connections</key>
	<dict>
		<key>0226EF29-CC42-4F12-B92C-E4A0043A57F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8730B212-3E9E-4181-A099-F97AF30D698D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2A48716C-3090-42EA-8021-445BDCF594A6</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Close this tab</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31D76BAC-0B8A-43E0-9ED8-2D33C0431CE7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3621E5C8-FEFF-404F-A2FF-7B50938D2A31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70427086-DA4F-44B3-B1E8-39359C76EE59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0226EF29-CC42-4F12-B92C-E4A0043A57F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B01B2AE9-27D3-47A8-851E-FA780947416A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1585AF3B-161A-4E28-8A73-FD4BE53ACB26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4B09A3B-286E-42B7-B0E3-D7CE2113A3A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1585AF3B-161A-4E28-8A73-FD4BE53ACB26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B50C6F00-45B5-44BE-8EA7-0C8B0176AEEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E25C01D-EF4C-432A-8969-FF6885415DC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B75C9CEF-5C4D-4381-B086-F6741A2E77ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3621E5C8-FEFF-404F-A2FF-7B50938D2A31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4643BCC-DD27-40DB-A12B-17AD4E717F62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E25C01D-EF4C-432A-8969-FF6885415DC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Renan Cakirerk</string>
	<key>description</key>
	<string>A set of commands to control Google Chrome</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Chrome Control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>close url</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Close tab by URL</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B75C9CEF-5C4D-4381-B086-F6741A2E77ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./chrome.js close --url $@ --ui</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3621E5C8-FEFF-404F-A2FF-7B50938D2A31</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tabs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading tabs...</string>
				<key>script</key>
				<string>./chrome.js list</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Press enter to focus, hold alt to close the tab</string>
				<key>title</key>
				<string>List All Tabs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0226EF29-CC42-4F12-B92C-E4A0043A57F0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>70427086-DA4F-44B3-B1E8-39359C76EE59</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./chrome.js focus {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8730B212-3E9E-4181-A099-F97AF30D698D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>31D76BAC-0B8A-43E0-9ED8-2D33C0431CE7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>close title</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Close tab by title</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B01B2AE9-27D3-47A8-851E-FA780947416A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./chrome.js close {query} --ui --yes</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2A48716C-3090-42EA-8021-445BDCF594A6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./chrome.js close --title $@ --ui</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1585AF3B-161A-4E28-8A73-FD4BE53ACB26</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B4B09A3B-286E-42B7-B0E3-D7CE2113A3A8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B50C6F00-45B5-44BE-8EA7-0C8B0176AEEC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./chrome.js dedup --ui</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0E25C01D-EF4C-432A-8969-FF6885415DC7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dedup</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Dedup tabs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F4643BCC-DD27-40DB-A12B-17AD4E717F62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A JXA script and an Alfred Workflow for controlling Google Chrome (Javascript for Automation). 

Alfred Chrome Control Commands:

`tabs`: Lists all tabs
  
`close url &lt;keywords&gt;`: Close tabs with URLs matching these keywords

`close title &lt;keywords&gt;`: Close tabs with titles matching these keywords

`dedup`: Close duplicate tabs

You can find the source code of this workflow here [1]

Also see my "How I Navigate Hundreds of Tabs on Chrome with JXA and Alfred" article [2] if you're interested in learning how I created the workflow.

[1] https://github.com/bit2pixel/chrome-control

[2] https://medium.com/@bit2pixel/how-i-navigate-hundreds-of-tabs-on-chrome-with-jxa-and-alfred-9bbf971af02b</string>
	<key>uidata</key>
	<dict>
		<key>0226EF29-CC42-4F12-B92C-E4A0043A57F0</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>0E25C01D-EF4C-432A-8969-FF6885415DC7</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>1585AF3B-161A-4E28-8A73-FD4BE53ACB26</key>
		<dict>
			<key>xpos</key>
			<integer>1110</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>2A48716C-3090-42EA-8021-445BDCF594A6</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>31D76BAC-0B8A-43E0-9ED8-2D33C0431CE7</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>3621E5C8-FEFF-404F-A2FF-7B50938D2A31</key>
		<dict>
			<key>xpos</key>
			<integer>1110</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>70427086-DA4F-44B3-B1E8-39359C76EE59</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>8730B212-3E9E-4181-A099-F97AF30D698D</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>B01B2AE9-27D3-47A8-851E-FA780947416A</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>B4B09A3B-286E-42B7-B0E3-D7CE2113A3A8</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>B50C6F00-45B5-44BE-8EA7-0C8B0176AEEC</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>B75C9CEF-5C4D-4381-B086-F6741A2E77ED</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>F4643BCC-DD27-40DB-A12B-17AD4E717F62</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://medium.com/@bit2pixel/how-i-navigate-hundreds-of-tabs-on-chrome-with-jxa-and-alfred-9bbf971af02b</string>
</dict>
</plist>
