[submodule "alfred-web-searches"]
	path = alfred-web-searches
	url = https://github.com/nikitavoloboev/alfred-web-searches.git
[submodule "alfred-github-workflow"]
	path = alfred-github-workflow
	url = https://github.com/gharlan/alfred-github-workflow.git
[submodule "genius-alfred-workflow"]
	path = genius-alfred-workflow
	url = https://github.com/likewinter/genius-alfred-workflow.git
[submodule "gist-alfred"]
	path = gist-alfred
	url = https://github.com/danielecook/gist-alfred.git
[submodule "adb-alfred"]
	path = adb-alfred
	url = https://github.com/zjn0505/adb-alfred.git
