[submodule "alfred-web-searches"]
	path = alfred-web-searches
	url = https://github.com/nikitavoloboev/alfred-web-searches.git
[submodule "alfred-github-workflow"]
	path = alfred-github-workflow
	url = https://github.com/gharlan/alfred-github-workflow.git
[submodule "gist-alfred"]
	path = gist-alfred
	url = https://github.com/danielecook/gist-alfred.git
[submodule "adb-alfred"]
	path = adb-alfred
	url = https://github.com/zjn0505/adb-alfred.git
[submodule "xkcd-alfred"]
	path = xkcd-alfred
	url = https://github.com/zjn0505/xkcd-alfred.git
[submodule "alfred-zettelkasten"]
	path = alfred-zettelkasten
	url = https://github.com/dnnsmnstrr/alfred-zettelkasten.git
[submodule "alfred-meme"]
	path = alfred-meme
	url = https://github.com/dnnsmnstrr/alfred-meme.git
[submodule "alfred-workflow"]
	path = alfred-workflow
	url = https://github.com/dnnsmnstrr/alfred-workflow.git
