<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred.search-in-app</string>
	<key>connections</key>
	<dict>
		<key>2641DBD1-DC15-42A4-B5CE-901E3C417D46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A659A75-FE34-4791-933B-4E5746890E86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C406B36-57E7-4841-BE3A-79B84E3D083F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2641DBD1-DC15-42A4-B5CE-901E3C417D46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7D69064-A695-4171-A833-D11AC701D0F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2641DBD1-DC15-42A4-B5CE-901E3C417D46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson &lt;deanishe@deanishe.net&gt;</string>
	<key>description</key>
	<string>Pass search query to application</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search in App</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2641DBD1-DC15-42A4-B5CE-901E3C417D46</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>search</string>
				<key>subtext</key>
				<string>Search for “{query}” in {var:app_name}</string>
				<key>text</key>
				<string>Search in {var:app_name}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5C406B36-57E7-4841-BE3A-79B84E3D083F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Workflow Failed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1A659A75-FE34-4791-933B-4E5746890E86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F7D69064-A695-4171-A833-D11AC701D0F8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search in App
=============

Pass Alfred search query to an application by simulating ⌘F to use the app's own search function.


Configuration
-------------

Change `app_name` to the name of the application you'd like to search in, e.g. "Google Chrome", "Safari".

If `press_return` is set to "1", the workflow will simulate a ↩ keypress after entering the search query.

`use_find_pasteboard` tells the workflow to put your query on macOS's find pasteboard. Native applications automatically use the contents of this pasteboard as a search query.

If this doesn't work with an application, set `use_find_pasteboard` to "0" and the workflow will attempt to type the query into the application's search field instead.

If the workflow is typing the query too early, alter `delay` to change how long the workflow waits for the app's Find field to activate before it attempts to enter the query.

If `wait_visible` is "1", workflow waits until the application is visible before trying to start a search.

`timeout` is how many seconds the workflow will wait for the application's windows to appear.</string>
	<key>uidata</key>
	<dict>
		<key>1A659A75-FE34-4791-933B-4E5746890E86</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>2641DBD1-DC15-42A4-B5CE-901E3C417D46</key>
		<dict>
			<key>note</key>
			<string>Pass query to application by simulating ⌘F</string>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>5C406B36-57E7-4841-BE3A-79B84E3D083F</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>F7D69064-A695-4171-A833-D11AC701D0F8</key>
		<dict>
			<key>note</key>
			<string>Search for selected text</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>app_name</key>
		<string>Safari</string>
		<key>delay</key>
		<string>0.3</string>
		<key>press_return</key>
		<string>1</string>
		<key>timeout</key>
		<string>10</string>
		<key>use_find_pasteboard</key>
		<string>1</string>
		<key>wait_visible</key>
		<string>1</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.2</string>
	<key>webaddress</key>
	<string>https://www.deanishe.net/post/2019/06/workflow-search-in-app/</string>
</dict>
</plist>
