<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dnnsmnstrr.zoom</string>
	<key>connections</key>
	<dict>
		<key>1196BE0C-E25C-486E-B0D8-DD269ABA5BFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81BEA4A5-0A37-4C46-990D-9793612817CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19ABDD23-5850-4CFF-BA51-E75DF4F9794C</key>
		<array/>
		<key>232568D3-74B4-487E-8971-004B7D1C4FCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1968A94-5D33-495C-8B00-9146F5311799</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8F28D51F-88E6-4EF1-9CC7-90163DD527A2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Start a new meeting...</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B61FCDA-60EE-4CB3-97D0-105F3805A0F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD228EB9-38AC-4F4B-B977-0C5B74126C19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C1EE76F-B6D4-4BA3-87A8-94125D5CD30B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F912BF9-D2BD-449C-B79B-99021C792247</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5CF13FD6-0253-4731-AAB8-782A8DE938CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB006362-6638-4695-9F8E-41F54FB4301F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84E2BBA9-C862-464A-9520-0115DF750908</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1196BE0C-E25C-486E-B0D8-DD269ABA5BFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F28D51F-88E6-4EF1-9CC7-90163DD527A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C1EE76F-B6D4-4BA3-87A8-94125D5CD30B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F912BF9-D2BD-449C-B79B-99021C792247</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5CF13FD6-0253-4731-AAB8-782A8DE938CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4F31BA3-EF3A-4D0E-BF84-7E9975EBFAB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19ABDD23-5850-4CFF-BA51-E75DF4F9794C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1968A94-5D33-495C-8B00-9146F5311799</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C1EE76F-B6D4-4BA3-87A8-94125D5CD30B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dennis Muensterer</string>
	<key>description</key>
	<string>Join or start a zoom.us meeting.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Zoom</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>zoom</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>84E2BBA9-C862-464A-9520-0115DF750908</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>zm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1196BE0C-E25C-486E-B0D8-DD269ABA5BFC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>81BEA4A5-0A37-4C46-990D-9793612817CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"General Daily","arg":"mario","subtitle":"9:30"},{"title":"Developer Daily","arg":"dev","subtitle":"10:00"},{"title":"Muffin","arg":"muffin","subtitle":"Lunch Room\/Coffee Break"},{"title":"SIM","arg":"leon","subtitle":"11:45"},{"title":"ASAB","arg":"asab","subtitle":"10:30"},{"title":"REA","arg":"lea"},{"title":"SOL","arg":"leon\n","subtitle":"11:15"},{"title":"Mario","arg":"mario\n"},{"title":"Leon","arg":"leon\n"},{"title":"Personal Meeting Room","arg":"me","subtitle":""},{"title":"Roman","arg":"roman"}]</string>
				<key>keyword</key>
				<string>zoom join</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Start or Join a meeting {query}...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>B4F31BA3-EF3A-4D0E-BF84-7E9975EBFAB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zoom cli</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Configure zoom-cli</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4B61FCDA-60EE-4CB3-97D0-105F3805A0F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>zoom join {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>19ABDD23-5850-4CFF-BA51-E75DF4F9794C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/.zoom-cli.json</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>AD228EB9-38AC-4F4B-B977-0C5B74126C19</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5CF13FD6-0253-4731-AAB8-782A8DE938CC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>F1968A94-5D33-495C-8B00-9146F5311799</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Paste this url directly</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DB006362-6638-4695-9F8E-41F54FB4301F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./alfred-zoomus.js "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4C1EE76F-B6D4-4BA3-87A8-94125D5CD30B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>https://zoom.us/j/</string>
				<key>subtext</key>
				<string>Join a meeting</string>
				<key>text</key>
				<string>Open Zoom.us directly ...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>232568D3-74B4-487E-8971-004B7D1C4FCE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^http</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>8F912BF9-D2BD-449C-B79B-99021C792247</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>8F28D51F-88E6-4EF1-9CC7-90163DD527A2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred Workflow for Zoom.us

Website: https://chaifeng.com/alfred-workflow-zoom-us/
Github: https://github.com/chaifeng/alfred-zoomus

by Chai Feng</string>
	<key>uidata</key>
	<dict>
		<key>1196BE0C-E25C-486E-B0D8-DD269ABA5BFC</key>
		<dict>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>19ABDD23-5850-4CFF-BA51-E75DF4F9794C</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>232568D3-74B4-487E-8971-004B7D1C4FCE</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>4B61FCDA-60EE-4CB3-97D0-105F3805A0F5</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>4C1EE76F-B6D4-4BA3-87A8-94125D5CD30B</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>5CF13FD6-0253-4731-AAB8-782A8DE938CC</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>81BEA4A5-0A37-4C46-990D-9793612817CF</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>84E2BBA9-C862-464A-9520-0115DF750908</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>8F28D51F-88E6-4EF1-9CC7-90163DD527A2</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>8F912BF9-D2BD-449C-B79B-99021C792247</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>AD228EB9-38AC-4F4B-B977-0C5B74126C19</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>B4F31BA3-EF3A-4D0E-BF84-7E9975EBFAB4</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>DB006362-6638-4695-9F8E-41F54FB4301F</key>
		<dict>
			<key>xpos</key>
			<integer>765</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>F1968A94-5D33-495C-8B00-9146F5311799</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>3.3</string>
	<key>webaddress</key>
	<string>https://muensterer.tech</string>
</dict>
</plist>
