<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.farrell.github.alfredworkflow</string>
	<key>connections</key>
	<dict>
		<key>00814D85-5260-40E5-B911-E7089AD045C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6AAC52FC-76E2-430E-AC82-DB301475CA74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0866791B-6D75-4235-BB02-F5EA1F0C5895</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD72F364-87D9-4BA7-9A6A-76B5FB5058A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24AAD375-E792-45B5-988A-A1F445BDF1B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB1B576C-93C2-4BC0-B171-5BB63CBEC3F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8462ECA5-1142-4256-B03D-3B488B27CA70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF400E69-D2C2-4233-9AA0-1006632DB168</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94028B23-5584-4F3B-B08D-87A7DD96CA19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8462ECA5-1142-4256-B03D-3B488B27CA70</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Starring...</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>36F9AC47-932F-4580-8BD9-F6CD4A52C97E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99F39FCA-3D88-4C96-AC35-FBA87B692730</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00814D85-5260-40E5-B911-E7089AD045C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7A74E4D-B1BA-4C19-A0B7-BC8ABB30E01D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8462ECA5-1142-4256-B03D-3B488B27CA70</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Starring...</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>36F9AC47-932F-4580-8BD9-F6CD4A52C97E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B80CFBDC-85C4-463D-B70A-10E654D68CD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EF40ECA-D839-4DC1-B8F1-EEBE7AB32FE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB1B576C-93C2-4BC0-B171-5BB63CBEC3F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6AAC52FC-76E2-430E-AC82-DB301475CA74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFE75176-AA9C-47DC-A118-B57C77913826</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA6F02D1-BD49-4ED9-93A5-CE39209EE6F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD72F364-87D9-4BA7-9A6A-76B5FB5058A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6AAC52FC-76E2-430E-AC82-DB301475CA74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4F641D4-7BAA-47BF-9B19-403450B6E0CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DE94B6D-A892-48EB-AB6B-095904ABEF54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EDA24FFF-2134-4876-89F7-DE40F25AF533</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00814D85-5260-40E5-B911-E7089AD045C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3A1FA7D-0932-479F-836A-77ED25E82E56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36F9AC47-932F-4580-8BD9-F6CD4A52C97E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>will Farrell (@willfarrell)</string>
	<key>description</key>
	<string>Github on Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github (v1.7)</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Starred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DF400E69-D2C2-4233-9AA0-1006632DB168</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>git search</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>$query = &lt;&lt;&lt;EOD
{query}
EOD;
require_once('search.php');</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search on github</string>
				<key>title</key>
				<string>Github Search</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>94028B23-5584-4F3B-B08D-87A7DD96CA19</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>$query = "{query}"; // is a url
// URL to username/repo
preg_match("/\w*\/\w*$/", $query, $matches);
$query = $matches[0];

required("star.php");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8462ECA5-1142-4256-B03D-3B488B27CA70</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>633A053E-6B7E-480A-B560-6E8E3988AB29</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>git my</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>$api = "repos";
$query = &lt;&lt;&lt;EOD
{query}
EOD;
require_once("users.php");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search My Github Repos</string>
				<key>title</key>
				<string>Github My Repos Search</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B7A74E4D-B1BA-4C19-A0B7-BC8ABB30E01D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Watched</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8FAA08F1-C26E-4D6F-BBBB-18E378C9222B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>36F9AC47-932F-4580-8BD9-F6CD4A52C97E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>git star</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait...</string>
				<key>script</key>
				<string>$api = "starred";
$query = &lt;&lt;&lt;EOD
{query}
EOD;
require_once("users.php");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search My Github Star</string>
				<key>title</key>
				<string>Github Star Search</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F3A1FA7D-0932-479F-836A-77ED25E82E56</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Debug</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>30A5C9C0-1DAC-442B-8D19-A7673E6CAC19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0DE94B6D-A892-48EB-AB6B-095904ABEF54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>gist</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait...</string>
				<key>script</key>
				<string>$api = "gists";
$icon = "gist.png";
$query = &lt;&lt;&lt;EOD
{query}
EOD;
require_once("users.php");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search All My Gists</string>
				<key>title</key>
				<string>Gist Search</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E4F641D4-7BAA-47BF-9B19-403450B6E0CA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gist.github.com/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6EF40ECA-D839-4DC1-B8F1-EEBE7AB32FE2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gist create</string>
				<key>subtext</key>
				<string>Press Enter To Create Gist</string>
				<key>text</key>
				<string>New Gist</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B80CFBDC-85C4-463D-B70A-10E654D68CD7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>git limit</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait...</string>
				<key>script</key>
				<string>require_once('rate.php');</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Github limit requests to 60/hour for unauthenticated requests</string>
				<key>title</key>
				<string>Github API Limit Test</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9C315645-681D-48AE-BB3E-4B7F416DC753</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>$query = "{query}";
require('proxy.php');</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BB1B576C-93C2-4BC0-B171-5BB63CBEC3F2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>github proxy</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>require_once('workflows.php');
$w = new Workflows();

$query = &lt;&lt;&lt;EOD
{query}
EOD;

$w-&gt;result( 'github', $query, $query, 'Set Alfred Github Proxy server', 'icon.png', 'yes', 'Proxy' );

echo $w-&gt;toxml();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Input My Proxy Server</string>
				<key>title</key>
				<string>Set Github Proxy</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>24AAD375-E792-45B5-988A-A1F445BDF1B7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Alfred Github</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6AAC52FC-76E2-430E-AC82-DB301475CA74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>$query = "{query}";
require('username.php');</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CD72F364-87D9-4BA7-9A6A-76B5FB5058A6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>github username</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>require_once('workflows.php');
$w = new Workflows();

$query = &lt;&lt;&lt;EOD
{query}
EOD;

$w-&gt;result( 'github', $query, $query, 'Set Alfred Github Username', 'icon.png', 'yes', 'Username' );

echo $w-&gt;toxml();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Input My Github Username</string>
				<key>title</key>
				<string>Set Github Username</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0866791B-6D75-4235-BB02-F5EA1F0C5895</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>github password</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>require_once('workflows.php');
$w = new Workflows();

$query = &lt;&lt;&lt;EOD
{query}
EOD;

$w-&gt;result( 'github', $query, $query, 'Set Alfred Github Password/Token', 'icon.png', 'yes', 'Password/Token' );

echo $w-&gt;toxml();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Input My Github Password/Token</string>
				<key>title</key>
				<string>Set Github Password/Token</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>99F39FCA-3D88-4C96-AC35-FBA87B692730</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>$query = "{query}";
require('password.php');</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>00814D85-5260-40E5-B911-E7089AD045C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>github password</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require_once('workflows.php');
$w = new Workflows();

$w-&gt;result( 'github', '', 'Unset Github Password/Token', 'Remove My Github Password/Token', 'icon.png', 'yes', 'Password/Token' );

echo $w-&gt;toxml();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Remove My Github Password/Token</string>
				<key>title</key>
				<string>Unset Github Password/Token</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EDA24FFF-2134-4876-89F7-DE40F25AF533</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>github test</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Calling Github ...</string>
				<key>script</key>
				<string>require("test.php");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Ensure Github login is working.</string>
				<key>title</key>
				<string>Test Github Login</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BFE75176-AA9C-47DC-A118-B57C77913826</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EA6F02D1-BD49-4ED9-93A5-CE39209EE6F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00814D85-5260-40E5-B911-E7089AD045C9</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>1060</real>
		</dict>
		<key>0866791B-6D75-4235-BB02-F5EA1F0C5895</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>0DE94B6D-A892-48EB-AB6B-095904ABEF54</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>24AAD375-E792-45B5-988A-A1F445BDF1B7</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>760</real>
		</dict>
		<key>30A5C9C0-1DAC-442B-8D19-A7673E6CAC19</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>36F9AC47-932F-4580-8BD9-F6CD4A52C97E</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>633A053E-6B7E-480A-B560-6E8E3988AB29</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6AAC52FC-76E2-430E-AC82-DB301475CA74</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>840</real>
		</dict>
		<key>6EF40ECA-D839-4DC1-B8F1-EEBE7AB32FE2</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>8462ECA5-1142-4256-B03D-3B488B27CA70</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8FAA08F1-C26E-4D6F-BBBB-18E378C9222B</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>94028B23-5584-4F3B-B08D-87A7DD96CA19</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>99F39FCA-3D88-4C96-AC35-FBA87B692730</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>1000</real>
		</dict>
		<key>9C315645-681D-48AE-BB3E-4B7F416DC753</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>B7A74E4D-B1BA-4C19-A0B7-BC8ABB30E01D</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>B80CFBDC-85C4-463D-B70A-10E654D68CD7</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>BB1B576C-93C2-4BC0-B171-5BB63CBEC3F2</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>760</real>
		</dict>
		<key>BFE75176-AA9C-47DC-A118-B57C77913826</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>1240</real>
		</dict>
		<key>CD72F364-87D9-4BA7-9A6A-76B5FB5058A6</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>DF400E69-D2C2-4233-9AA0-1006632DB168</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E4F641D4-7BAA-47BF-9B19-403450B6E0CA</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>EA6F02D1-BD49-4ED9-93A5-CE39209EE6F4</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>1240</real>
		</dict>
		<key>EDA24FFF-2134-4876-89F7-DE40F25AF533</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>1120</real>
		</dict>
		<key>F3A1FA7D-0932-479F-836A-77ED25E82E56</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>github.com/willfarrell</string>
</dict>
</plist>
